<div class="main-container">
  <!-- Header -->
  <header class="header">
    <div class="header-top">
      <div class="logo">
        CobreNix<span class="logo-suffix">.Ltda</span>
      </div>
      <app-breadcrumb></app-breadcrumb>
    </div>
    
    <!-- Menu Component -->
    <app-main-menu
      [isMenuOpen]="isMenuOpen"
      [currentTheme]="currentTheme"
      (menuToggle)="toggleMenu()"
      (menuClose)="closeMenu()"
      (themeToggle)="toggleTheme($event)"
      (logoutClick)="logout()"
    ></app-main-menu>
  </header>

  <app-content-container></app-content-container>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <app-confirm-dialog
    *ngIf="showLogoutDialog"
    [title]="dialogTitle"
    [message]="dialogMessage"
    (confirm)="onConfirmLogout()"
    (cancel)="onCancelLogout()"
  ></app-confirm-dialog>
</div>
