.user-info {
  max-width: 600px;
  margin: 2rem auto;
  padding: 0 1rem;

  h2 {
    color: var(--white);
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-shadow: var(--text-shadow);
    font-weight: 500;
  }

  .info-card {
    background: var(--white);
    border-radius: 8px;
    padding: 2rem;
    box-shadow: var( --user-info-box-shadow);

    .info-item {
      display: flex;
      margin-bottom: 1.5rem;
      border-bottom: var(--user-info-border);
      padding-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
      }

      label {
        width: 120px;
        color: var(--user-info-label);
        font-weight: 500;
      }

      span {
        flex: 1;
        color: var(--user-info-text);
      }
    }
  }
}