.breadcrumb {
  padding: 0.5rem 1rem;
  background: var(--shadow-color);
  border-radius: 4px;
  width: 100%;

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  li {
    display: flex;
    align-items: center;
    color: var(--menu-color-font);
    font-size: 0.9rem;

    a {
      color: var(--menu-color-font);
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: var(--submenu-background);
      }
    }

    &.active {
      color: var(--menu-color-font);
      font-weight: 500;
    }

    .separator {
      margin: 0 0.5rem;
      color: var(--breadcrumb-sepataror);
    }
  }
}

/* Responsivo */
@media screen and (max-width: 768px) {
  .breadcrumb {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
}
